.logo img {
    width: 170px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-ser20
}

.right ul {
    display: flex;
    gap: 34px;
}

.right li {
    list-style-type: none;
    display: flex;
    align-items: center;
    cursor: pointer;

}

.right li span {
    padding: 0 5px;
}

.first {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin: 60px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.first span {
    font-size: 35px;
}

.first div {
    font-size: 18px;
    width: 48vw;
    align-items: center;
}


.btn {
    background-color: #48c2c2;
    padding: 12px 18px;
    color: white;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    margin: 12px 0;
    cursor: pointer;
}

.btn a {
    text-decoration: none;
    color: white;
}

.green {
    background-color: #5cb85c;

}

.flex {
    display: flex;
    font-size: 34px;
}

.small {
    font-size: 12px;
}

.second {
    max-width: 66vw;
    margin: auto;
}

.item {
    padding: 23px;
    background: #f9f9f9;
    border-radius: 3px;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.item-lang {
    font-weight: 700;
    text-align: center;
    padding-bottom: 36px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}


.download :nth-child(2) {
    font-size: 20px;

}

.download img {
    padding: 0px 10px;

}

.download {
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@media screen and (max-width: 1000px) {
    .grid {

        grid-template-columns: 1fr;

    }

}

.btn a1 {
    text-decoration: none;
    color: white;
}